@media screen and (max-width: 480px){
    .titolo{
        font-size: 40px;
    }

    .searchbar{
        width: 107px;
    }

    .container-searchbar{
        width: 160px;
    }

    .visionsafe{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

   
}