*{
    padding: 0;
    margin: 0;
    font-family: 'Varela Round', sans-serif;
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {     -webkit-appearance: none;     margin: 0; }

:root{
    --primaryA:#e7b24fd0;
    --primaryB:#e3f53fc2;
    --primaryC:#ece24ec4;
    --secondaryD:#c64500;
    --secondaryE:#e47b1d;
}

/* NAVBAR */
.navbar-presto{
    background: linear-gradient(90deg, var(--secondaryD), var(--secondaryE));
}

.btn-notifica{
    background: linear-gradient(180deg, var(--primaryA), var(--primaryB));
    color: white;
    border: 1px solid white;
}
.language {
    min-width: 100px;
  }

.btn-notifica:hover{
    background: linear-gradient(90deg, var(--primaryA), var(--primaryB));
    border: none;
    color: white;
}

.box-shadow{
    box-shadow: 1px 9px 18px -5px rgba(0,0,0,0.8);
}

.searchbar{
    border-radius: 20px;
    width: 390px;
    border: none;
}

.iconsearch{
    font-size: 25px;
}

.container-searchbar{
    background-color: var(--secondaryE);
    border-radius: 22px;
    width: 450px;
    border: 1px solid var(--secondaryE);
}



/* CARD */
.card_title{
    background: linear-gradient(180deg, var(--primaryA), var(--primaryC));
    border: 1px solid black;
}

.btn-leggi{
    background: linear-gradient(180deg, var(--secondaryE), var(--secondaryD));
    border: 1px solid black;
    color: white;
}
.btn-leggi:hover{
    background: linear-gradient(90deg, var(--primaryA), var(--primaryB));
    border: 1px solid rgba(209, 236, 56, 0.623);
   
}
/* HEADER */

.header{
    background: linear-gradient(#00000042 , #00000028) , url('/img/footer.jpg');
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.titolo{
    text-decoration: none;
    color: var(--secondaryD);
    text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
    text-decoration-style:dotted;
}

.titolo:hover{
    color: var(--secondaryE);
    text-shadow: 14px 1px 13px rgba(0,0,0,0.93);
}


/* FOOTER */
.footer{
    background: linear-gradient(#000000c5 , #00000049) , url('/img/footer.jpg');
    height: 350px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.social{
    border-bottom: 1px solid orange;
}

.link-footer{
    color: white;
    transition: 0.4s;
}

.link-footer:hover{
    color:var(--secondaryE);
    transform:rotate(-15deg);
}


/* CREATE */

.btn-invia{
    background: linear-gradient(180deg, var(--secondaryE), var(--secondaryD));
    border: 1px solid black;
    color: white;
}
.btn-invia:hover{
    background: linear-gradient(180deg, #ee5519dc, #e9891c);
    border: 1px solid white;
    color: white;
}

.btn-annulla{
    background: linear-gradient(180deg, var(--primaryA), var(--primaryB));
    border: 1px solid black;
    
}
.btn-annulla:hover{
    background: linear-gradient(90deg, var(--primaryA), var(--primaryB));
    border: 1px solid rgba(209, 236, 56, 0.623);
   
}


/* CARD */
.card-category{    
    background: linear-gradient(180deg, var(--secondaryE), var(--secondaryD));
    border: 1px solid black;
    min-width:150px;
    padding: 10px 5px;
    box-shadow: 7px 1px 15px -3px rgba(0,0,0,0.74);
    text-transform: uppercase;
    margin-top: 40px;
    transition: all 0.4s;
}

.card-category:hover{    
    background: linear-gradient(180deg, #ee5519dc, #e9891c);
    box-shadow: 7px 1px 8px -6px rgba(0,0,0,0.74);
    transform: scale(1.2);
    color: white;
    border: 1px solid white;
}

/* SHOW */

.container-body{
    border-bottom: 1px solid var(--secondaryE);
}


/* REVISOR */


.list-allert{
    border: 1px solid black;
    box-shadow: 9px 5px 14px 1px rgba(0,0,0,0.25);
    height: 20px;
    width: 20px;
}


.UNKNOWN{
    background-color: green;
    border-radius: 50%;
 }

.VERY_UNLIKELY{
    background-color: green;
    border-radius: 50%;
}

.UNLIKELY{
    background-color: orange;
    border-radius: 50%;
}

.POSIBLE{    
    background-color: orange;
    border-radius: 50%;
}

.LIKELY{
    background-color: red;
    border-radius: 50%;
}

.VERY_LIKELY{
    background-color: red;
    border-radius: 50%;
}

.visionsafe{
    justify-content: space-between;
}

.img-revisor{
    height: 100%;
    width: 100%;
}

.user-description{
    list-style-type: square;
}

.btn-elimina{
    background: linear-gradient(180deg, #ff1e00dc, #f3562f);
    color: black;
    border: 1px solid black;
}
.btn-elimina:hover{
    background: linear-gradient(90deg, #ff1e00dc, #f3662f);
    color: white;
    border: 1px solid white;
}

.btn-ripristina{
    background: linear-gradient(180deg, #21c01bdc, #8be442);
    color: black;
    border: 1px solid black;

}

.btn-ripristina:hover{
    background: linear-gradient(90deg, #98df3cdc, #57e04b);
    color: white;
    border: 1px solid white;
}

.card_title_delete{
    background: linear-gradient(180deg, var(--secondaryE), var(--secondaryD));
    border: 1px solid black;
}